<table class="data-table">
    <thead>
        <tr>
            <th>Жанр</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="genre in (state.selectedComic.comicGenre || []) | startFrom: technicalCurrentPage * detailPageSize | limitTo: detailPageSize track by genre.name"
            ng-click="$parent.selectGenre(genre)"
            ng-class="{'selected': $parent.isGenreSelected(genre)}"
            style="cursor: pointer;">

            <td>
                {{ genre.name }}
            </td>

            <td>
                {{ genre.timeAssigmant | date:'dd.MM.yyyy HH:mm' }}
            </td>
        </tr>

        <tr ng-if="!(state.selectedComic.comicGenre || []).length">
            <td colspan="2" class="text-center text-muted">Жанри не вказані</td>
        </tr>
    </tbody>
</table>